<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Perfil</title>
  <link rel="stylesheet" href="/css/perfis.css">
  <link rel="stylesheet" href="/js/perfis.js">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
  </style>
</head>


<script>

  const input = document.querySelector('input');
  
  input.placeholder = "gdhfhdbgdh";

  function editar() {
    console.log("oii")
    input.forEach((input) => {
      input.removeAttribute('readonly');
    });
}
</script>



<body>

  <%- include('../partials/navbar') %>

  <h2>Meu Perfil</h2>
  <h2>Olá !</h2>
  <form >
    <div>
      <label for="inputNome">Nome</label>
      <input type="text" readonly placeholder="<%=result.nome%>">
    </div><br>

    <div>
      <label for="inputUsuario">Usuário</label>
      <input type="text" readonly>
    </div><br>

    <div>
      <label for="inputEmail">Email</label>
      <input type="email" readonly>
    </div><br>
    
    <div>
      <label for="inputSenha">Senha</label>
      <input type="password" readonly>
    </div><br>

    <div>
     
      <button type="submit">Salvar</button>
      <button type="submit"><a href="/">Cancelar</a></button>
    </div><br>

    <div>
      <button type="submit"><a href="/">Sair da conta</a></button>
      <a href="/deleteCadastro/">excluir conta</a>
    </div><br>

  </form>
   <button onclick="editar()">Editar</button>

  <br>

  <%- include('../partials/footer') %>

</body>
</html>