<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/home.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap'); 
  </style>
  <title>Página Inicial</title>
</head>
<body>

  <%- include('partials/navbar') %>

 <div class="container">
  <h1>Olá</h1>
 </div>
  
  <div> 
    <button class="botao">
      <a href="/">Ir para a página inicial de tarefas</a>
    </button>

    <button class="botao">
      <a href="/">Ir para a página de usuários</a>
    </button>
  </div>

  <br>

  <%- include('partials/footer') %>

</body>
</html>