/* cores: #2b4b44 (azul), #f9f0e5 (bege), #ffefdb (bege escurinho), #42635b (azul apagado) */

* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "BioRhyme", serif;
  color: #333;
  text-align: center;
}

.container-my-5 {
  display: flex;
  justify-content: center;
  margin: 0;
}

#button {
  border-color: #2b4b44;
  color: #2b4b44;
}

#button:hover {
  border-color: #2b4b44;
  background-color: #2b4b44;
  color: #a8d1c8;
}

input {
  border-radius: 5px;
}

h1 {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings:
    "wdth" 100;
}

.navbar {
  background-color: #323232;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px 0px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  margin: 0;
  padding-right: 100px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  color: #d1e1ff;
}

.botao {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 3px 3px 0 rgba(172, 172, 172, 0.8);
  transition: all 0.3s ease-in-out;
  margin: 20px;
  font-size: 1rem;
}

.botao:hover {
  background-color: #cecdde42;
  color: white;
}

nav.menu-lateral {
  width: 80px;
  height: 100%;
  background-color: #42635b;
  padding: 40px 0 20px;
  box-shadow: 3px 0 0 #5fa898;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .5s;
  z-index: 3000;
}

nav.menu-lateral:hover {
  width: 300px;
}

.btn-expandir {
  width: 100%;
}

.btn-expandir>i {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
  padding-left: 10%;
}

ul li.item-menu {
  transition: .7s;
}

ul li.item-menu:hover {
  background-color: #5fa898;
}

ul li.item-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  margin-left: 40px;
  padding-right: 10px;
}

ul li.item-menu a .icon>i {
  padding-right: 0px;
  font-size: 25px;
  width: 100%;
}