/* cores: #2b4b44 (azul), #f9f0e5 (bege), #ffefdb (bege escurinho), #42635b (azul apagado) */

:root {
  --primary: #007bff;
  --secondary: #6c757d;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow-X: hidden;
}

#home {
  height: 100vh;
  width: 100%;
  background-image: url("../img/fundohome.png");
  background-size: cover;
  background-position: center;
}

#topicos {
  height: 100vh;
  width: 100%;
  background-image: url("../img/fundohome2.png");
  background-size: cover;
  background-position: center;
}

#sobre {
  height: 100vh;
  width: 100%;
  background-image: url("../img/fundohome3.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "EB Garamond", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 10rem;
  color: #fff5e8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: "EB Garamond", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
  color: #42635b;
  margin-bottom: 550px;
}

h3 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: none;
  font-size: 8rem;
  color: #fff5e8;
  margin-top: 570px;
  padding-right: 800px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

section.active {
  opacity: 1;
  transform: translateY(0);
}

.botao {
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 3px 3px 0 rgba(172, 172, 172, 0.8);
  transition: all 0.3s ease-in-out;
  margin: 20px;
  font-size: 1rem;
}

.botao:hover {
  background-color: #cecdde42;
  color: white;
}

/** suspeito alteraçoes **/ h1, h2, h3 {
  transition: transform 0.3s ease, text-shadow 0.3s ease; /** p ficar com uma sombra qnd o user passar o mouse **/
  cursor: default; 
}

h1:hover, h2:hover, h3:hover {
  transform: translateY(-5px); /** desloca o texto pra cima **/
  text-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

