/*OBS: Não foi feito por mim hehe (um dia eu aprendo a fazer coisas bonitinhas S2 )*/      
    
/* A propriedade border-collapse remove o espaço entre as bordas das células */
    
body{
    background-color: #ffefdb;
}

table {
      border-collapse: collapse; /* Valor padrão é 'separate' */
      width: 80%;
    }
    
    th, td {
      border: 1px solid #04470a; /* Adiciona uma borda fina e cinza */
      padding: 8px;
      text-align: left;
    }
    
    /* Adiciona um fundo diferente para a linha do cabeçalho */
    thead {
      background-color: #c3e071;
    }
    
    /* Adiciona cores alternadas para as linhas do corpo da tabela */
    tbody tr:nth-child(even) {
      background-color: #4cda14;
    }

    tbody tr {
        background-color: #a4d420;
    }
    
    /* Efeitos de hover para a tabela */
    tbody tr:hover {
      background-color: #3eb399;
    }