<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/cadastro-login.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
  </style>
  <title>Cadastro</title>
</head>
<body>

  <%- include('partials/navbar') %>

  <h1>Cadastro</h1>

  <form>
    <div>
      <label for="nome">Nome Completo</label><br>
      <input type="text" id="nome" name="nome" required>
    </div><br>

    <div>
      <label for="username">Nome de Usuário</label><br>
      <input type="text" id="username" name="username" required>
    </div><br>

    <div>
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" required>
    </div><br>

    <div>
      <label for="senha">Senha</label><br>
      <input type="password" id="senha" name="senha" required minlength="6">
    </div><br>

    <div>
      <input type="checkbox" id="termos" name="termos" required>
      <label for="termos">Concordo com os termos e condições.</label>
    </div><br>

    <div>
      <button type="submit"><a href="/">Enviar Cadastro</a></button>
    </div><br>

    <div>
      <button type="submit"><a href="/">Já tenho uma conta</a></button>
    </div><br>
  </form>

  <br>

  <%- include('partials/footer') %>

</body>
</html>
