<nav class="navbar">
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/perfil/bibliotecario">Bibliotecario</a></li>
    <li><a href="/perfil/leitor">Leitor</a></li>
    <li><a href="/perfil/livro">Livro</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/cadastro">Cadastro</a></li>
  </ul>
</nav>
