<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cadastro-login.css">
  <title>Login</title>
</head>
<body>

  <%- include('../partials/navbar') %>

  <h1>Login</h1>

  <form action="/login" method="POST">

    <div>
      <label for="username">Nome de Usuário</label><br>
      <input type="text" id="username" name="username" required>
    </div><br>

    <div>
      <label for="senha">Senha</label><br>
      <input type="password" id="senha" name="senha" required minlength="6">
    </div><br>

    <div>
      <input type="checkbox" id="termos" name="termos" required>
      <label for="termos">Concordo com os termos e condições.</label>
    </div><br>

    <div>
      <button type="submit">Enviar Login</button>
    </div><br>

    <div>
      <button type="submit"><a href="/">Não tenho uma conta</a></button>
    </div><br>
  </form>
  
  <br>

  <%- include('../partials/footer') %>

</body>
</html>
